<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <clear />
    <!--TODO: Replace with your actual server name - do NOT use localhost.  Other connections can be added for multiple imported databases-->
    <add name="VehiclesDb"
      connectionString="Server=DESKTOP-7CLD65E\SQLEXPRESS;Persist Security Info=False;Initial Catalog=Vehicles;Integrated Security=True;TrustServerCertificate=True;trusted_connection=true;" providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>