<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="VehiclesDb"
       connectionString="Server=DESKTOP-7CLD65E\SQLEXPRESS; Database=Vehicles;
       Integrated Security=True;trusted_connection=true;" providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>